<div class="container">
  <h3>Signup</h3>
  <h4>{{message}}</h4>
  <form class="" action="/auth/signup" method="post">
    <label for="username">Username</label>
    <input class="form-control" type="text" name="username">
    <label for="password">Password</label>
    <input class="form-control" type="password" name="password">
    <br />
    <button class="btn btn-success" type="submit">Submit</button>
  </form>
</div>
